version: 2.1
jobs:
  build-and-test:
    working_directory: ~/repo
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm@5"
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run build
          command: npm run build
      - run:
          name: Run tests
          command: npm run test
          
workflows:
  build-and-test:
    jobs:
      - build-and-test
