version: 2.1
orbs:
  node: circleci/node@3.0.0

jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - echo "building test"

workflows:
  node-tests:
    jobs:
      - node/test