#songDiv {
  max-width: 600px;
}

#lyricDiv {
  max-width: 600px;
}

#settingsModal {
  padding: 15px;
  background-color: transparent;
}

#settingsButton {
  width: 18px;
  margin: 10px
}

#returnToHymnalButton {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
