ion-toggle {
  --background: #73d2f8;
  --handle-background: #1f96f8;

  --background-checked: #73d2f8;
  --handle-background-checked: #1f96f8;
}

#songTogglerDiv {
    text-align: right;

    margin-top: -40px;
    margin-right: 20px;
}
